@media(max-width: 768px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.4fr 1fr 0.4fr 0.4fr 0.5fr;
    }
    
    .top-bar > #mobile_nav{
        display: block;
        position:absolute;
        justify-self: end;
        align-self: center;
        left: 90%;
        margin-right: 20px;
        font-size: 24px;
        color: #797979;
        cursor: pointer;
    }

    .top-bar > nav{
        display: none;
    }

    .fa-bars{
        display: block;
    }

    .hero {
        
        .hero-text{
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr;
            grid-template-areas:
            "heading heading"
            "subheading subheading"
            "button1 button1"
            "button2 button2";
            
            .btn{
                width: 85%;
                text-align: center;
            }
        }
    }

    .services-preview{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "business business"
        "community community";
    }

    .contactection{
        :nth-child(2){
            
            grid-template-areas: 
            "username username"
            "useremail useremail"
            "usernumbers usernumbers"
            "usermassege usermassege"
            "submit submit";
        }
    }
    
    .hero {
        .hero-text{
            #btn1{
                grid-area: button1; 
                justify-self: center;
                align-self: center;
            }
        }
    }

    .btn.outline {
        grid-area: button2;
        justify-self: center;
    }

    .btn {
        text-align: center;
        font-weight: 600;
        font-size: 11px;
    }

    #businesscard::before {
        font-size: 100%;
    }

    #communitycard::before {
        font-size: 60%;
    }
}